h1 {
    color: black;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: black;
    max-width: 800px;
    margin: 0 auto;
    background-color:#3eb58f;
}
a{
    color:black;
}

